@charset "utf-8";

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Pretendard/Pretendard-Bold.woff');
    src: local('Pretendard-Bold'),
         url('../fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Pretendard/Pretendard-SemiBold.woff');
    src: local('Pretendard-SemiBold'),
         url('../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff'),
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Pretendard/Pretendard-Medium.woff');
    src: local('Pretendard-Medium'),
         url('../fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Pretendard/Pretendard-Regular.woff');
    src: local('Pretendard-Regular'),
         url('../fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
}
@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Pretendard/Pretendard-Light.woff');
    src: local('Pretendard-Light'),
         url('../fonts/Pretendard/Pretendard-BLightold.woff') format('woff'),
}